.container{
    min-height: 100vh;
    /*background: rgb(0,0,255);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0);
    border-radius: 15px;
    background: rgb(5, 129, 143,0.5);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: rgb(0, 0, 255);
    font-weight: 500;
    margin-top: 2rem;
    width: 100vw;
    text-align: center;
}

.container form input{
    width: 45%;
    height: 4rem;
    padding-left: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background: none;
    border-bottom: 2px solid rgba(255,255,255);
}

.container form input::placeholder{
    color: rgb(210, 208, 208);
}

.container form .name{
    margin-left: 2rem;
}

.container form h4{
    color: rgba(255,255,255);
    font-weight: 300;
    width: 70vw;
    margin-top: 20px;
    padding-left: 2rem;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255,255,255);
    color: rgba(255,255,255);
    font-weight: 200;
    font-size: 1.5rem;
    padding: 10px;
    outline: none;
    min-width: 50rem;
    max-width: 60rem;
    min-height: 8rem;
    max-height: 8rem;
}

textarea::-webkit-scrollbar {
    width: 1rem;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form button{
    background:none;
    border-radius: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    padding: 0;
    margin-right:38rem;
    margin-bottom: 50px;
    transition: 0.3s;
    border-color: rgb(0,0,255);
}

.container form button:hover{
    background: rgba(255,255,255);
    cursor: pointer;
}

footer{
    margin-top: 24rem;
    background: rgb(5, 129, 143,0.5);
    border: none;
}

h4{
    font-size: 2rem;
}