.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(0,0,255);
}

.main-text h2{
    font-weight: 700;
    font-size: 3rem;
}


.filter-buttons{
    margin: 2rem;
    text-align: center;
}

.filter-buttons .btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin: 1.3rem;
    color: rgb(5, 129, 143,0.5)
    ;
}

.filter-buttons .btn:hover {
    color: rgba(0,0,255);
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(570px , 1fr));
    gap: 1rem;
}

.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid rgb(5, 129, 143,0.5);
    box-shadow: 20px 20px 50px rgba(0,0,0);
}

.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#12f7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem ;
}

.port-box:hover .port-content{
    opacity: 1;
}

.port-box:hover .port-image img{
    transform: scale(1.1);
}

.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;

}

.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.port-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    outline: 2px solid #fff;
}